<!DOCTYPE html>
<html lang="en" ng-app="utilityApp">

<head>
<title>GE-DatacodeGen Utility</title>
<meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=EDGE" />

<!--  <base href="/"> -->
<!-- <meta charset="utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="css/bootstrap-select.css">
 -->
<link rel="stylesheet" href="css/codegen.css">
<link rel="stylesheet" href="css/custom.css">

<!-- <script src="js/jquery-1.11.3.min.js"></script> -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/ng-pattern-restrict.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/route.js"></script>
<script src="lib/dirPagination.js"></script>
<script src="js/config.js"></script>
<script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="js/services/resource-service.js"></script>
<script src="js/controllers/file-controller.js"></script>
<script src="js/controllers/rdbms-controller.js"></script>
<script src="js/controllers/hadoop-controller.js"></script>


</head>
<body  class="myMainBody">
	<div class="flex-container">
		<header>
			<h4 class="headerMain"><img class="img-circle" src="img/geLogo.png" id="logo-ge"><span style="padding-left: 6px;color: #94a3ac;">Data Ingestion</span></h4>
			<div class="pull-right"><a href="" ng-click="logout()">Log Out</a></div>
		</header>

		<nav class="navbar navbar-default navbar-fixed-side nav" ng-show="isAuthenticated">
			<center>
			<ul>
				<li style="padding-top: 28%;height: 56px;">
					<a>
						<div class="menuIcon"></div>
						<div class="menuIcon"></div>
						<div class="menuIcon"></div> 
					</a>
				</li>
				<li style="height: 58px;padding-top: 23%;" ng-class="activeClass" onclick="">
					<a href="" class="btn-lg">
			          <span class="glyphicon glyphicon-dashboard" style="font-size: 26px;color: white;"></span>
			        </a>
				</li>
				<li style="height: 58px;padding-top: 23%;" ng-class="activeClass">
					<a href="" class="btn-lg">
			          <span class="glyphicon glyphicon-briefcase" style="font-size: 26px;color: white;"></span>
			        </a>
			    </li>
			</ul>
			</center>
		</nav>

		<div class="article">
		<!-- <div class="outerContainer" style="padding-bottom:0"> apply for align-->
			<div class="articleContainer" ng-show="isAuthenticated">
				<div class="row">
					<div class="col-md-5">
						<left>
						<div class="titleLeftUp">Data Code Generation Utility</div>
						<div class="titleLeftDown">GE Healthcare</div>
						</left>
					</div>
					<div class="col-md-7">
						<div class="titleCenterMiddle"></div>
						<!-- Data Ingestion</div> -->
					</div>
				</div>
			</div>
			<div class="container-fluid outerContainer">
				<div class="innerContainer1" ng-show="isAuthenticated">
					<div class="row titleDiv">
						<div class="col-md-12 titleDesc">
							SOURCE LOCATION
							<div style="padding-bottom: 24px"></div>
							<div class="stroke"></div>
						</div>
					</div>
					<div class="row myRadioBtns">
						<div class="col-md-3 ">
							<input class="btnRadio" type="radio" ng-model="homeRadioBtn" ng-change="redirectToPage(homeRadioBtn)"
								value="RDBMS"><label class="sourcelocationLabel">
								RDBMS </label>
						</div>
						<div class="col-md-3 ">
							<input class="btnRadio" type="radio" ng-model="homeRadioBtn" ng-change="redirectToPage(homeRadioBtn)"
								value="Hadoop"> <label class="sourcelocationLabel">
								Hadoop</label>
						</div>
						<div class="col-md-3">
							<input class="btnRadio" type="radio" ng-model="homeRadioBtn" ng-change="redirectToPage(homeRadioBtn)"
								value="Files"> <label class="sourcelocationLabel">
								Files</label>
						</div>
						<div class="col-md-3">
							<input class="btnRadio" type="radio" ng-model="homeRadioBtn" ng-change="redirectToPage(homeRadioBtn)"
								value="S3"><label class="sourcelocationLabel">
								S3</label>
						</div>
					</div>
				</div>

			</div>
			<div ng-view></div>
		</div>
	</div>
	<footer class="myFooter">
		<div class="pull-right">
			<span><a href="http://www.ge.com/privacy" target="_blank">Privacy</a>&nbsp;</span> 
			<span>&nbsp;<a href="http://www3.gehealthcare.com/en/footer/terms_and_conditions" target="_blank">Terms</a>&nbsp;</span> 
			<span>&nbsp;<a href="http://www3.gehealthcare.com/en/about_us/contact_us" target="_blank">Contact</a>&nbsp;</span>
			<span>&nbsp;<a href="http://www3.gehealthcare.com/en/about_us" target="_blank">Accessibility</a>&nbsp;</span>
			<span style="padding-right: 28px;">&nbsp;<a href="http://info.evidon.com/pub_info/4841?v=1" target="_blank">Cookies</a>&nbsp;</span>
			<span class="copyright">&nbsp;©2017 General Electric</span>
		</div>
	</footer>
</body>
</html>