<div class="articleContainer">
	<div class="row">
		<div class="col-md-5">
			<left>
			<div class="titleLeftUp">Data Code Generation Utility</div>
			<div class="titleLeftDown">GE Healthcare</div>
			</left>
		</div>
		<div class="col-md-7">
			<div class="titleCenterMiddle"></div>
			<!-- Data Ingestion</div> -->
		</div>
	</div>
</div>
<div class="container-fluid outerContainer">
	<div class="innerContainer1">
			<div class="row titleDiv">
				<div class="col-md-12 titleDesc">
					SOURCE LOCATION
					<div style="padding-bottom: 24px"></div>
					<div class="stroke"></div>
				</div>
			</div>
			<div class="row myRadioBtns">
				<div class="col-md-3 ">
					<input class="btnRadio" type="radio" 
						ng-model="homeRadioBtn"  value="RDBMS"><label
						class="sourcelocationLabel" > RDBMS </label>
				</div>
				<div class="col-md-3 ">
					<input class="btnRadio" type="radio" 
						ng-model="homeRadioBtn" value="Hadoop"> <label
						class="sourcelocationLabel"> Hadoop</label>
				</div>
				<div class="col-md-3">
					<input class="btnRadio" type="radio" 
						ng-model="homeRadioBtn" value="Files"> <label
						class="sourcelocationLabel"> Files</label>
				</div>
				<div class="col-md-3">
					<input class="btnRadio" type="radio" 
						ng-model="homeRadioBtn" value="S3" ><label
						class="sourcelocationLabel"> S3</label>
				</div>
			</div>
		</div>
		
		
		<div ng-if="homeRadioBtn=='RDBMS'" ng-include="'html/requestFormRDBMS.html'"></div>
				
		<div ng-if="homeRadioBtn=='Files'" ng-include="'html/requestForm.html'"></div>
			
		<div ng-if="homeRadioBtn=='Hadoop'" ng-include="'html/requestFormHadoop.html'"></div>
		
		
		<div  ng-if="homeRadioBtn=='S3'" ng-include="'html/requestFormS3.html'"></div>
</div>
		