<div class="modal-header" ng-controller="utilityCtrl">
<h3 class="modal-title"></h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="innerModal">
			<div class="row">
				<div class="col-md-3">
					<label class="labelSubHeader">REQUEST ID</label> 
					<input type="text" class="customTextBox" ng-model="job.requestId" readonly="readonly" title="{{job.requestId}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">DATASOURCE</label> 
					<input type="text" class="customTextBox" ng-model="job.sourceType" readonly="readonly"  title="{{job.sourceType}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">DATASOURCE TYPE</label> 
					<input type="text" class="customTextBox" ng-model="job.sourceSystem" readonly="readonly"  title="{{job.sourceSystem}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">SOURCE SERVER</label> 
					<input type="text" class="customTextBox" ng-model="job.dbConnection" readonly="readonly"  title="{{job.dbConnection}}">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="labelSubHeader">SOURCE DB NAME / SID</label> 
					<input type="text" class="customTextBox" ng-model="job.dbName" readonly="readonly"  title="{{job.dbName}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">SOURCE DB SCHEMA</label> 
					<input type="text" class="customTextBox" ng-model="job.source" readonly="readonly"  title="{{job.source}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">SOURCE TABLE</label> 
					<input type="text" class="customTextBox" ng-model="job.sourceTableName" readonly="readonly"  title="{{job.sourceTableName}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">LOAD TYPE</label> 
					<input type="text" class="customTextBox" ng-model="job.loadType" readonly="readonly"  title="{{job.loadType}}">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="labelSubHeader">TARGET SERVER</label> 
					<input type="text" class="customTextBox" ng-model="job.targetConnection" readonly="readonly"  title="{{job.targetConnection}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">HIVE DB</label> 
					<input type="text" class="customTextBox" ng-model="job.targetDBName" readonly="readonly"  title="{{job.targetDBName}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">HIVE TABLE</label> 
					<input type="text" class="customTextBox" ng-model="job.targetTableName" readonly="readonly"  title="{{job.targetTableName}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">HIVE TABLE TYPE</label> 
					<input type="text" class="customTextBox" ng-model="job.targetTableType" readonly="readonly"  title="{{job.targetTableType}}">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="labelSubHeader">HIVE PARTITION KEY</label> 
					<input type="text" class="customTextBox" ng-model="job.targetPartitionKey" readonly="readonly"  title="{{job.targetPartitionKey}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">SUBMITTED ON</label> 
					<input type="text" class="customTextBox" ng-model="job.updateTimeStamp" readonly="readonly"  title="{{job.updateTimeStamp}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">SOURCE COLUMNS</label> 
					<input type="text" class="customTextBox" ng-model="job.sourceColumnName" readonly="readonly"  title="{{job.sourceColumnName}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">CALCULATE DELTA ON</label> 
					<input type="text" class="customTextBox" ng-model="job.calculateDeltaOn" readonly="readonly"  title="{{job.calculateDeltaOn}}">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="labelSubHeader">UNIQUE KEY</label> 
					<input type="text" class="customTextBox" ng-model="job.joinKey" readonly="readonly"  title="{{job.joinKey}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">WHERE CONDITION</label> 
					<input type="text" class="customTextBox" ng-model="job.whereCondition" readonly="readonly"  title="{{job.whereCondition}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">SOURCE DIRECTORY</label> 
					<input type="text" class="customTextBox" ng-model="job.sourceDirectory" readonly="readonly"  title="{{job.sourceDirectory}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">SOURCE FILE SCHEMA PATH</label> 
					<input type="text" class="customTextBox" ng-model="job.fillerThree" readonly="readonly"  title="{{job.fillerThree}}">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="labelSubHeader">ARCHIVE PERIOD (DAYS)</label> 
					<input type="text" class="customTextBox" ng-model="job.archivePeriod" readonly="readonly"  title="{{job.archivePeriod}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">FILE DELIMITER</label> 
					<input type="text" class="customTextBox" ng-model="job.fillerOne" readonly="readonly"  title="{{job.fillerOne}}">
				</div>
				<div class="col-md-3">
					<label class="labelSubHeader">ROW TAG</label> 
					<input type="text" class="customTextBox" ng-model="job.fillerTwo" readonly="readonly"  title="{{job.fillerTwo}}">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn myPopups" type="button"ng-click="close()">OK</button>
</div>