<div ng-controller="utilityCtrl" ng-hide="isAuthenticated">
	<div class="row clearfix">
		<div class="col-md-4 col-md-offset-4 loginDiv" ng-init="loadinitialLogin()">
			<form class="loginForm" name="loginForm" novalidate>
				<h2 class="form-signin-heading">Data Ingestion</h2>
				<div>
					<input type="text" class="loginInputField" id="user"
						name='username' ng-model="credentials.username" required
						placeholder="User Name">
					<div ng-show="showLoginValidationErrors">
						<div style="line-height: 3px">&nbsp;</div>
						<!-- <span class="errmsg" ng-show="loginForm.username.$error.required">User
							Name is required. </span> -->
					</div>
				</div>
				<div>
					<input type="password" class="loginInputField" id="pwd"
						name='password' ng-model="credentials.password"
						placeholder="Password" required
						data-validation-required-message="Please enter a message.">
					<div ng-show="showLoginValidationErrors">
						<div style="line-height: 3px">&nbsp;</div>
						<!-- <span class="errmsg" ng-show="loginForm.password.$error.required">Password
							is required. </span> -->
					</div>
				</div>
				<button class="btn btn-primary loginbutton" type="submit"
					ng-disabled="loginForm.$invalid "
					ng-click="SubmitLogin(credentials)">Sign in</button>
			</form>
		</div>
	</div>
</div>