<div class="clear"></div>
<div class="col-md-12 wraper">    

      <form class="form-horizantal"  role="form" name="connectform" novalidate  ng-submit="submitted = true" >  
         
         <div class="col-md-12">
		 <div class="col-md-6">
          <div class="form-group required" ng-init="pageLoadData()"> 
			<div class="col-md-6"> <label for="datasrc" class="control-label"> Source Type</label> </div>
            <div class="col-md-6" >   <select name="datasrc" class="form-control" id="datasrc" ng-model="rdbms.sourceType" required ng-readonly="readonlyAttr"  ng-disabled="connectDisble">
                                <option  selected="selected" value="">Please Select Option</option>
                                 <option  ng-repeat="src in datadbsrc" ng-click="getDB(src.value)">{{src.value}}</option>
                            </select>
			</div>
              <span class="errmsg" ng-if="submitted && connectform.username.$error.required">This is required.</span>              
          </div>  
		 </div>
		  <div class="col-md-6">
          <div class="form-group required">
            <div class="col-md-6">  <label   class="control-label" for="srcdbport">DB Connection </label></div>
             <div class="col-md-6"> <select  name="srcdbport" class="form-control" required id="srcdbport"  ng-model="rdbms.dbConnection" ng-readonly="readonlyAttr" ng-disabled="connectDisble" >
                                <option  selected="selected" value="">Please Select Option</option>
                                <option ng-repeat="src in datadbconn" ng-click="getSID(src.value)">{{src.value}}</option>
                            </select></div>
                <span class="errmsg" ng-if="submitted && connectform.username.$error.required">This is Required.</span>              
          </div></div>
		  <div class="col-md-6">
		   <div class="form-group required"  > 
           <div class="col-md-6">    <label   class="control-label" for="fileschema">DB Name / SID</label></div>
            <div class="col-md-6">   <select name="SID"  required class="form-control"  ng-required="dbNameRequiredchk=='false'" id="fileschema" ng-model="rdbms.dbName" ng-readonly="readonlyAttr" ng-disabled="connectDisble">
                                                                <option  selected="selected" value="">Please Select Option</option>

                                <option  ng-repeat="src in datadbSID" >{{src.value}}</option>
                            </select></div>
                 <span class="errmsg" ng-if="submitted && connectform.username.$error.required">This is Required.</span>             
           </div>  
         
		  </div>
		  <div class="col-md-6">
		   <div class="form-group required ">
            <div class="col-md-6"> <label   class="control-label " for="username">User Name </label></div>
            <div class="col-md-6" >  <input type="text" name="username"  required class="form-control" id="username" ng-model="rdbms.username" placeholder="Enter User Name" ng-readonly="readonlyAttr"></div>
                 <span class="errmsg" ng-if="submitted && connectform.username.$error.required">This is Required.</span>
            </div>     
           </div>
          <div class="col-md-6">
		   <div class="form-group required">
            <div class="col-md-6" >  <label for="pwd" class="control-label">Password</label></div>
            <div class="col-md-6" >  <input type="password" name="password"    required class="form-control" ng-model="rdbms.password" id="pwd" placeholder="Enter Password" ng-readonly="readonlyAttr"></div>
			 <span class="errmsg" ng-if="submitted && connectform.password.$error.required">This is Required.</span>
          </div>    

		  </div>

         
          
          
         <div class="col-md-12">
         
           <div class="form-group required col-xs-offset-11" >
               <div>&nbsp;</div>
               <input  ng-show="showbutton" type="button" ng-disabled="connectform.$invalid"  class="btn btn-primary " id="" value="Connect" ng-click="connectDB(rdbms.username,rdbms.password,rdbms.dbConnection,rdbms.dbName,rdbms.sourceType)" >
                <input  ng-show="showbuttonDisc" type="button" ng-disabled="connectform.$invalid"  class="btn btn-primary " id="" value="Disconnect" ng-click="enableForm()" >
                            
           </div>  
         </div>   

    </form>
</div> 
</div><!-- Container end here-->
            