<div ng-show="loadingBackgronud" class="loadingBackgronud"></div>
<div ng-show="dataLoading" class="dataLoading" id="loading-indicator">
	<img src="img/loader.gif" width="100" height="150">
</div>
<div class="container-fluid">
	<div class="innerContainer" ng-init="pageLoadHadoopData()">
		<div class="innerContainer2">
			<form role="form" name="hadoopForm">
				<div id="sourceSystem">
					<div class="row titleDiv">
						<div class="col-md-12 titleDesc">
							SOURCE
							<div style="padding-bottom: 17px"></div>
							<div class="stroke"></div>
						</div>
					</div>
					<div class="row dbConnection">
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">SOURCE
								TYPE</label> <input readonly="readonly" type="text"
								class="customTextBox" ng-model="hadoop.sourceSystem">
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">FILE NAME</label>
							<input type="text"	class="customTextBox" id="fileName" name="fileName" required ng-model="hadoop.fileName"> 
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="hadoopForm.fileName.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">FILE
								TYPE</label> <select class="customDropDown" id="fileTypeHdp"
								name="fileTypeHdp" required ng-change="changeFileType()"
								ng-model="hadoop.fileType">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in fileTypeHadoop">{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="hadoopForm.fileTypeHdp.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">HADOOP
								SOURCE CONNECTION</label> <select class="customDropDown"
								id="hadoopSrcConnection" name="hadoopSrcConnection" 
								ng-model="hadoop.serverIP">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in SFTPserverIPListHadoop ">{{src.value}}</option>
							</select>
						</div>

					</div>
					<div id="disabledDiv">
						<div class="row">
							<div class="col-md-3">
								<label class="labelSubHeader">FILE PATH</label> <input
									type="text" class="customTextBox" id="filepath" name="filepath"
									required ng-model="hadoop.filePath" placeholder="Please Enter">
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="errmsg"
										ng-show="hadoopForm.filepath.$error.required">This is
										required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label class="labelSubHeader">FILE SCHEMA PATH</label> <input
									type="text" class="customTextBox" required
									ng-model="hadoop.fileSchemaPath" id="fileschemapath"
									name="fileschemapath" placeholder="Please Enter">
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="errmsg"
										ng-show="hadoopForm.fileschemapath.$error.required">This
										is required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label ng-class="fileDelimeter ? 'disabledlabel' : 'labelSubHeader'">FILE DELIMITER<span
									class="pull-right glyphicon glyphicon-info-sign rightHoverHelp"
									data-toggle="tooltip" title="comma(,) , Semicolon(;), Pipe(|)"></span>
								</label> 
								<input
									type="text" ng-class="fileDelimeter ? 'disabledTextBox' : 'customTextBox'"
									id="filedel" maxlength="1"
									name="filedelimeter" ng-required=fileDelimeterRequired
									ng-disabled="fileDelimeter" ng-model="hadoop.fileDelimeter"
									placeholder="Please Enter">

								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="errmsg"
										ng-show="hadoopForm.filedelimeter.$error.required">This
										is required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label ng-class="rowtagDisable ? 'disabledlabel' : 'labelSubHeader'">ROW TAG</label> 
								<input type="text"
									ng-class="rowtagDisable ? 'disabledTextBox' : 'customTextBox'" id="rowtag" name="rowtag"
									ng-disabled="rowtagDisable" ng-required="rowTagRequired"
									ng-model="hadoop.rowTag" placeholder="Please Enter">
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="errmsg"
										ng-show="hadoopForm.rowtag.$error.required">This is
										required. </span>
								</div>
							</div>
						</div>
						<div class="row" style="padding-bottom: 24px;">
							<div class="col-md-3">
								<label ng-class="joinKeys  ? 'disabledlabel' : 'labelSubHeader'">UNIQUE
									KEY</label> <input type="text" name="joinkey" required
									ng-class="joinKeys ? 'disabledTextBox' : 'customTextBox'"
									id="joinkey" ng-model="hadoop.joinKeys"
									placeholder="Please Enter">
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="errmsg"
										ng-show="hadoopForm.joinkey.$error.required">This is
										required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label
									ng-class="archivePeriod  ? 'disabledlabel' : 'labelSubHeader'">ARCHIEVE
									KEY (DAYS)</label> <input type="text" ng-pattern-restrict="^[0-9]*$"
									name="archiveperiod"  id="archive"
									ng-class="archivePeriod ? 'disabledTextBox' : 'customTextBox'"
									placeholder="Please Enter" ng-model="hadoop.archivePeriod">
							
							</div>
						</div>
					</div>
					<!-- disabled div ends -->
				</div>
				<!-- sourceSystem div ends -->
				<div id="targetType" class="myRadioBtns">
					<div class="row titleDiv">
						<div class="col-md-12 titleDesc">
							TARGET
							<div style="padding-bottom: 24px"></div>
							<div class="stroke"></div>
						</div>
					</div>
					<div class="row dbConnection">
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">LOAD
								TYPE</label> <select class="customDropDown" id="loadtype"
								ng-model="hadoop.loadType">
								<option value="">Please Select</option>
								<option name="loadtype" ng-repeat="src in loadType">{{src.value}}</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">TARGET
								CONNECTION</label> <select class="customDropDown" id="targetconn"
								required name="targetconn" ng-model="hadoop.targetConnection">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in targetcon">{{src.value}}</option>
							</select>

							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="hadoopForm.targetconn.$error.required">This is
									required. </span>
							</div>

						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">HIVE
								DB NAME</label> <input type="text" name="hivedbname"
								placeholder="Please Enter" class="customTextBox" id="hivedb"
								required ng-model="hadoop.targetDBName" ng-disabled="disabled">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="hadoopForm.hivedbname.$error.required">This is
									required. </span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label class="labelSubHeader">HIVE TABLE NAME</label> <input
								type="text" name="hivetableName" required
								placeholder="Please Enter" class="customTextBox" id="hivetable"
								value="" ng-model="hadoop.targetTableName">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="hadoopForm.hivetableName.$error.required">This
									is required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader">HIVE TABLE TYPE</label> <select
								name="hivetabltt" class="customDropDown" id="hivetabletype"
								ng-model="hadoop.targetTableType"
								ng-change="onChangeTableType(hadoop.targetTableType)">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in hiveTableType">{{src.value}}</option>
							</select>
						</div>
						<div class="col-md-3">
							<label ng-class="hivePartitionKeyDisable ? 'disabledlabel' : 'labelSubHeader'">HIVE PARTITION KEY</label> 
							<input	type="text" name="hivetable" placeholder="Please Enter"
								ng-class="hivePartitionKeyDisable ? 'disabledTextBox' : 'customTextBox'" id="hivepartitionKey"
								ng-model="hadoop.targetPartitionKey"
								ng-disabled="hivePartitionKeyDisable">

						</div>
					</div>
				</div>
				<!-- sourceSystem div ends -->
				<div class="row" style="padding-left: 68.3%;">
					<button type="button" class="btn targetButton"
						ng-click="onCancelOfHadoop();">Cancel</button>
					<span style="padding-right: 2%;"></span>
					<button type="button" class="btn btn-primary myButton"
						ng-click="createHadoopCodeGenRequest(hadoop)">Create New
						Request</button>
				</div>
			</form>
		</div>
	</div>
</div>
