<div ng-show="loadingBackgronud" class="loadingBackgronud"></div>
<div ng-show="dataLoading" class="dataLoading" id="loading-indicator">
	<img src="img/loader.gif" width="100" height="150">
</div>
<div class="container-fluid">
	<div class="innerContainer" ng-init="pageLoadDataRDBMS()">
	
		<div class="innerContainer2">
			<form role="form" name="rdbmsForm" novalidate>
				<div id="sourceType">
					<div class="row titleDiv">
						<div class="col-md-12 titleDesc">
							SOURCE TYPE
							<div style="padding-bottom: 24px"></div>
							<div class="stroke"></div>
						</div>
					</div>
					<div class="row dbConnection">
						<div class="col-md-3">
							<label ng-class="{'labelSubHeader': toggleAll , 'disabledlabel': !toggleAll}" style="padding-top: 0">DATABASE
								TYPE</label> 
								<select name="srctype" id="srctype" ng-change="getDB(codeGenRequest.sourceType)"
								ng-model="codeGenRequest.sourceType" required ng-class="{'customDropDown': toggleAll , 'disabledDropDown': !toggleAll}"
								ng-disabled="srcTypeDisble">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in datadbsrc" >{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.srctype.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="toggleAll ? class1 : 'disabledlabel'" style="padding-top: 0">DB
								CONNECTION</label> 
							<select name="dbConnection" ng-class="toggleAll ? classdropdown1 : 'disabledDropDown'"
								ng-change="getSID(codeGenRequest.dbConnection)"
								required id="dbConnection"
								ng-model="codeGenRequest.dbConnection"
								ng-disabled="dbconnectionDisble">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in datadbconn"
									>{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.dbConnection.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="toggleAll ? class2 : 'disabledlabel'" style="padding-top: 0">DB
								NAME / SID</label> 
							<select name="SID"   ng-class="toggleAll ? classdropdown2 : 'disabledDropDown'"
								required id="SID"
								ng-model="codeGenRequest.dbName" ng-disabled="dbnameDisble">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in datadbSID">{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.SID.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3"
							style="float: right; width: 207px; padding-top: 1%;">
							<input ng-show="showbutton" type="button"
								class="btn btn-primary myButton" id="" value="Connect"
								ng-click="connectDB(codeGenRequest.username,codeGenRequest.password,codeGenRequest.dbConnection,codeGenRequest.dbName,codeGenRequest.sourceType)">
							<input ng-show="showbuttonDisc" type="button"
								class="btn btn-primary myButton" id="" value="Disconnect"
								ng-click="enableForm()">
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<label ng-class="{'labelSubHeader': toggleAll , 'disabledlabel': !toggleAll}">USER NAME</label> <input
								type="text" id="userName" name="userName" ng-class="{'customTextBox': toggleAll , 'disabledTextBox': !toggleAll}"
								ng-disabled="connectDisble" required
								placeholder="Please Enter" ng-model="codeGenRequest.username"
								class="customTextBox"></input>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.userName.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="{'labelSubHeader': toggleAll , 'disabledlabel': !toggleAll}">PASSWORD</label> <input
								type="password" id="password" name="password" ng-class="{'customTextBox': toggleAll , 'disabledTextBox': !toggleAll}"
								ng-disabled="connectDisble" required
								placeholder="Please Enter" ng-model="codeGenRequest.password"></input>
								<div ng-show="showValidationErrors">
							<div style="line-height: 3px">&nbsp;</div>
							<span class="text-danger"
								ng-show="rdbmsForm.password.$error.required">This is
								required. </span>
						</div>
						</div>
						
					</div>

					<div id="disabledDiv">
						<div class="row">
							<div class="col-md-3">
								<label ng-class="class">DB SCHEMA</label>
								 <select 
									name="dbschema" id="dbschema" ng-class="classdropdown"
									ng-change="getTables(codeGenRequest.username,codeGenRequest.password,codeGenRequest.dbConnection,codeGenRequest.dbName,codeGenRequest.sourceType,codeGenRequest.source)"
									ng-required="dbSchemaREquired" ng-disabled="toggleDisconnect ? disabledMultiple : true" ng-model="codeGenRequest.source">
									<option selected="selected" >Please Select</option>
									<option ng-repeat="src in databaseSchema">{{src}}</option>
								</select>
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="text-danger"
										ng-show="rdbmsForm.dbschema.$error.required">This is
										required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label ng-class="class">TABLES</label> 
								<select name="tables" style="text-transform: capitalize;"
									ng-required="tableRequired" id="tables"
									ng-class="classdropdown" multiple
									ng-model="codeGenRequest.sourceTableNames"
									ng-change="getCols(codeGenRequest.username,codeGenRequest.password,codeGenRequest.dbConnection,codeGenRequest.dbName,codeGenRequest.sourceType,codeGenRequest.sourceTableNames,codeGenRequest.source) ; disableDrop(codeGenRequest.sourceTableNames);onSelcted2(codeGenRequest.sourceTableNames);getHiveTableNames(codeGenRequest.sourceTableNames)">
									<!--  <option  selected="selected" value="">Please Select Option</option> -->
									<option ng-selected="isSelectedFlag" ng-repeat="src in tables">{{src}}</option>
								</select>

								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="text-danger"
										ng-show="rdbmsForm.tables.$error.required">This is
										required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label ng-class="toggleTable ? class : 'disabledlabel'">COLUMNS</label> <select name="colums"
									ng-required="toggleTable ? colRequired : false" ng-disabled="disabledMultiple"
									ng-class="toggleTable ?  classdropdown : 'disabledDropDown'" id="colums" multiple
									ng-model="codeGenRequest.sourceColumnNames" style="text-transform: capitalize;"
									ng-click="onSelctedColumns(codeGenRequest.sourceColumnNames)">
									<!-- ng-class="{warning: (codeGenRequest.sourceColumnNames == 'Select All'), ok: (codeGenRequest.sourceColumnNames != 'Select All')}" -->
									<!--<option selected="selected" value="">Please Select</option>-->
									<option ng-repeat="src in cols">{{src}}</option>
								</select>
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="text-danger"
										ng-show="rdbmsForm.colums.$error.required">This is
										required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label ng-class="toggleTable ? class : 'disabledlabel'">UNION KEY</label> <select
									ng-disabled="disabledMultiple" name="joinkey" style="text-transform: capitalize;"
									ng-required="toggleTable ? joinKeyRequired : false" ng-class="toggleTable ? classdropdown : 'disabledDropDown'"
									id="joinkey" multiple ng-model="codeGenRequest.joinKeys">
									<!--<option selected="selected" value="">Please Select</option>-->
									<option ng-repeat="field in codeGenRequest.sourceColumnNames "
										value="{{field}}">{{field}}</option>
								</select>
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="text-danger"
										ng-show="rdbmsForm.joinkey.$error.required">This is
										required. </span>
								</div>
							</div>
						</div>
						<div class="row" style="padding-bottom: 24px">
							<div class="col-md-3">
								<label ng-class="toggleTable ? class : 'disabledlabel'">CALCULATE DELTA ON</label> 
								<select name="CalculateDelta" ng-disabled="toggleDisconnect ? disabledMultiple :  true"
									ng-required="toggleTable ? caculateDeltaRequired : false" ng-class="toggleTable ? classdropdown : 'disabledDropDown'"
									id="CalculateDelta" ng-model="codeGenRequest.calculateDeltaOn" style="text-transform: capitalize;">
									<option selected="selected" value="">Please Select</option>
									<option
										ng-selected="{{field == codeGenRequest.calculateDeltaOn}}"
										ng-repeat="field in codeGenRequest.sourceColumnNames "
										value="{{field}}">{{field}}</option>
								</select>

								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="text-danger"
										ng-show="rdbmsForm.CalculateDelta.$error.required">This
										is required. </span>
								</div>
							</div>
							<div class="col-md-3">
								<label ng-class="class">WHERE CONDITION</label> 
								<input	type="text" ng-class="classtextbox" id="condition" ng-disabled="whereDisabled"
									ng-model="codeGenRequest.whereCondition"
									placeholder="Please Enter"> 
							</div>
							<div class="col-md-3">
								<label ng-class="class">ARCHIVE PERIOD (DAYS)</label> 
								<input	type="text" name="archivePeriod"
									ng-required="archivePeriodRequired" ng-class="classtextbox"
									id="archivePeriod" ng-pattern-restrict="^[0-9]*$" ng-disabled="whereDisabled"
									placeholder="Please Enter"
									ng-model="codeGenRequest.archivePeriod">
								<div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="text-danger"
										ng-show="rdbmsForm.archivePeriod.$error.required">This
										is required. </span>
								</div>
							</div>
						</div>

					</div>
					<!-- disabled div ends -->
				</div>
				<!-- sourceType div ends -->


				<!-- Common for all sections -->
				<div id="targetType" class="myRadioBtns">
					<div class="row titleDiv">
						<div class="col-md-12 titleDesc">
							TARGET
							<div style="padding-bottom: 24px"></div>
							<div class="stroke"></div>
						</div>
					</div>
					<div class="row dbConnection">
						<!-- <div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">TARGET
								TYPE</label>
							<div>
								<input id="HIVE" type="radio" class="btnRadio" name="HIVE"
									ng-model="codeGenRequest.targetType" ng-value="'HIVE'"
									ng-change="showHiveBlk(codeGenRequest.targetType)"><label
									class="sourcelocationLabel">HDFS &amp; HIVE </label> <input
									id="HDFS" type="radio" class="btnRadio" name="HDFS"
									ng-model="codeGenRequest.targetType" value="HDFS"
									ng-value="'HDFS'"
									ng-change="showHiveBlk(codeGenRequest.targetType)"><label
									class="sourcelocationLabel">HDFS Only</label>
							</div>
						</div> -->
						<div class="col-md-3">
							<label ng-class="toggleTable ? 'labelSubHeader' : 'disabledlabel'" style="padding-top: 0">LOAD
								TYPE</label> 
							<select ng-class="toggleTable ? 'customDropDown' : 'disabledDropDown'" name="loadtype"
								id="loadtype" ng-required="toggleTable ? loadTypeRequired : false"
								ng-model="codeGenRequest.loadType"
								ng-disabled="!toggleTable">
								<option selected="selected" value="">Please Select</option>
								<option
									ng-selected="{{src.value == codeGenRequest.loadType}}"
									ng-repeat="src in loadType">{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.loadtype.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">TARGET
								CONNECTION</label> <input type="text" placeholder="Please Enter"
								class="customTextBox" name="targetconn"
								ng-required="targetconnRequired" id="targetconn"
								ng-model="codeGenRequest.targetConnection">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.targetconn.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">HIVE DB NAME</label> <input
								type="text" name="hivedbname" placeholder="Please Enter"
								class="customTextBox" id="hivedbname"
								ng-required="hivedbnameRequired"
								ng-model="codeGenRequest.targetDBName" ng-disabled="disabled">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.hivedbname.$error.required">This is
									required. </span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<label ng-class="toggleTable ? 'labelSubHeader' : 'disabledlabel'">HIVE TABLE NAME</label> <input
								type="text" name="hivetableName"
								ng-required="toggleTable ? hiveTableNameRequired : false" placeholder="Please Enter"
								ng-class="toggleTable ? 'customTextBox' : 'disabledTextBox'" id="hivetableName"
								ng-model="codeGenRequest.targetTableName"
								ng-disabled="toggleTable ? hivetabledisabled : true">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.hivetableName.$error.required">This
									is required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="toggleTable ? 'labelSubHeader' : 'disabledlabel'">HIVE TABLE TYPE</label> 
							<select	name="hivetabltt" ng-required="toggleTable ? hiveTableTypeRequired : false"
								ng-class="toggleTable ? 'customDropDown' : 'disabledDropDown'" id="hivetabletype"
								ng-init="loadHiveTableType()"
								ng-model="codeGenRequest.hiveTableType"
								ng-change="changePartitinKey(codeGenRequest.hiveTableType)"
								ng-disabled="toggleTable ? disabled : true">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in hiveTableType">{{src.value}}</option>
							</select>
								<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.hivetabltt.$error.required">This
									is required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="toggleTable ? hivetableLabel : 'disabledlabel'">HIVE PARTITION KEY</label> <select
								ng-class="toggleTable ? hivetableDD : 'disabledDropDown'" ng-required="toggleTable ? hivePartitionKeyRequired : false" name="hivePartitionKey"
								id="hivepartionkey" ng-model="codeGenRequest.targetPartitionKey" style="text-transform: capitalize;"
								ng-disabled="toggleTable ? isdisabled : true">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="field in codeGenRequest.sourceColumnNames "
									value="{{field}}">{{field}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="text-danger"
									ng-show="rdbmsForm.hivePartitionKey.$error.required">This
									is required. </span>
							</div>
						</div>
					</div>

				</div>
				<!-- sourceType div ends -->
				<div class="row" style="padding-left: 68.3%;">
					<button type="button" class="btn targetButton"
						ng-click="onCancel();">Cancel</button>
					<span style="padding-right: 2%;"></span>
					<button type="button" class="btn btn-primary myButton" ng-disabled="disableCreateButton"
						ng-click="postdata(codeGenRequest);">Create New Request</button>
				</div>

			</form>
		</div>
	</div>
</div>
