<div ng-show="loadingBackgronud" class="loadingBackgronud"></div>
<div ng-show="dataLoading" class="dataLoading" id="loading-indicator">
	<img src="img/loader.gif" width="100" height="150">
</div>

<div class="container-fluid">
	<div class="innerContainer" ng-init="pageLoadDataFile()">

		<div class="innerContainer2">
			<form role="form" name="fileForm" novalidate>
				<div id="sourceSystem">
					<div class="row titleDiv">
						<div class="col-md-12 titleDesc">
							SOURCE
							<div style="padding-bottom: 17px"></div>
							<div class="stroke"></div>
						</div>
					</div>
					<div class="row dbConnection">
						<div class="col-md-3">
							<label
								ng-class="toggleFileResources  ? 'labelSubHeader' : 'disabledlabel'"
								style="padding-top: 0">SOURCE TYPE</label> <input type="text"
								ng-class="toggleFileResources  ? 'customTextBox' : 'disabledTextBox'"
								name="datasrc" id="datasrc" ng-model="file.sourceSystem"
								readonly="readonly" placeholder="Please Enter">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.datasrc.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label
								class="labelSubHeader"
								style="padding-top: 0">FILE NAME</label> 
								<input type="text" name="fileName" required
								class="customTextBox" id="fileName"
								ng-model="file.fileName" 
								placeholder="Please Enter">
								
								<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.fileName.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">FILE
								TYPE</label> <select class="customDropDown" id="fileType"
								ng-change="onChangeOfFileType()" name="fileType"
								ng-required="fileTypeRequired" ng-model="file.fileType">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in fileType">{{src.value}}</option>

							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.fileType.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="serverIP  ? 'disabledlabel':'labelSubHeader'"
								style="padding-top: 0">FILE SERVER CONNECTION</label> <select
								id="serverIP"
								ng-class="serverIP ? 'disabledDropDown' :'customDropDown'"
								name="serverIP" ng-disabled="serverIP"
								ng-model="file.serverIp">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in SFTPserverIPList">{{src.value}}</option>
							</select>
							<!-- <div ng-show="showValidationErrors">
									<div style="line-height: 3px">&nbsp;</div>
									<span class="errmsg"
										ng-show="fileForm.serverIP.$error.required">This is
										required. </span>
								</div> -->
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<label
								ng-class=" fileDelimeter ? 'disabledlabel' : 'labelSubHeader'">FILE
								DELIMITER <span
								class="pull-right glyphicon glyphicon-info-sign rightHoverHelp"
								data-toggle="tooltip" title="comma(,) , Semicolon(;), Pipe(|)"></span>
							</label> <input type="text" id="filedel"
								ng-class="fileDelimeter ? 'disabledTextBox' : 'customTextBox' "
								name="filedel" ng-required="fileDelimeterRequired" maxlength="1"
								ng-readonly="fileDelimeter" ng-model="file.fileDelimeter"
								placeholder="Please Enter">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.filedel.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="filePath  ? 'disabledlabel' : 'labelSubHeader'">FILE
								PATH</label> <input type="text" id="filepath" name="filepath"
								ng-class="filePath ? 'disabledTextBox' : 'customTextBox'"
								ng-required="filePathRequired" ng-model="file.filePath"
								ng-readonly="filePath" placeholder="Please Enter">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.filepath.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label
								ng-class="fileSchemaPath  ?  'disabledlabel' : 'labelSubHeader'">FILE
								SCHEMA PATH</label> <input type="text" id="fileschpath"
								ng-class="fileSchemaPath ? 'disabledTextBox' : 'customTextBox'"
								name="fileschpath" ng-required="fileSchemaPathRequired"
								ng-model="file.fileSchemaPath" ng-readonly="fileSchemaPath"
								placeholder="Please Enter">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.fileschpath.$error.required">This
									is required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label ng-class="joinKeys  ? 'disabledlabel' : 'labelSubHeader'">UNIQUE KEY</label> 
							<input type="text"
								name="joinkey" ng-required="joinKeysRequired"
								ng-class="joinKeys ? 'disabledTextBox' : 'customTextBox'"
								id="joinkey" ng-readonly="joinKeys" ng-model="file.joinKeys"
								placeholder="Please Enter">

							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.joinkey.$error.required">This is
									required. </span>
							</div>
						</div>
					</div>

					<div class="row lastRowDiv">
						<div class="col-md-3">
							<label ng-class="rowTag  ? 'disabledlabel' : 'labelSubHeader'"
								style="padding-top: 0">ROW TAG</label> <input type="text"
								id="rowtag"
								ng-class="rowTag ? 'disabledTextBox' : 'customTextBox'"
								name="rowtag" ng-required="rowTagRequired" ng-readonly="rowTag"
								ng-model="file.rowTag" placeholder="Please Enter">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.rowtag.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label
								ng-class="archivePeriod  ? 'disabledlabel' : 'labelSubHeader'"
								style="padding-top: 0">ARCHIVE PERIOD (DAYS)</label> <input
								type="text" ng-pattern-restrict="^[0-9]*$" name="archiveper"
								 ng-readonly="archivePeriod"
								id="archive"
								ng-class="archivePeriod ? 'disabledTextBox' : 'customTextBox'"
								placeholder="Please Enter" ng-model="file.archivePeriod">

							
						</div>
					</div>

				</div>
				<!-- sourceSystem div ends -->


				<!-- Common for all sections -->
				<div id="targetType" class="myRadioBtns">
					<div class="row titleDiv">
						<div class="col-md-12 titleDesc">
							TARGET
							<div style="padding-bottom: 24px"></div>
							<div class="stroke"></div>
						</div>
					</div>
					<div class="row dbConnection">
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">LOAD
								TYPE</label> <select class="customDropDown" name="loadtype" required
								id="loadtype" ng-model="file.loadType">
								<option selected="selected" value="">Please Select</option>
								<option name="loadtype"
									ng-selected="{{src.value == file.loadType}}"
									ng-repeat="src in loadType">{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.loadtype.$error.required">This is
									required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">Target
								Connection </label> <select class="customDropDown" id="targetconn"
								required name="targetconn" ng-model="file.targetConnection">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in targetcon">{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.targetconn.$error.required">This
									is required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader" style="padding-top: 0">HIVE
								DB NAME</label> <input type="text" name="hivedbname"
								placeholder="Please Enter" class="customTextBox" id="hivedbname"
								required ng-model="file.targetDBName" ng-disabled="disabled">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.hivedbname.$error.required">This
									is required. </span>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-md-3">
							<label class="labelSubHeader">HIVE TABLE NAME</label> <input
								type="text" name="hivetable" required placeholder="Please Enter"
								class="customTextBox" id="hivetable"
								ng-model="file.targetTableName" ng-disabled="hivetabledisabled">
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.hivetable.$error.required">This
									is required. </span>
							</div>
						</div>
						<div class="col-md-3">
							<label class="labelSubHeader">HIVE TABLE TYPE</label> <select
								name="hivetabletype" class="customDropDown" id="hivetabletype"
								required ng-init="loadHiveTableType()"
								ng-model="file.hiveTableType"
								ng-change="changeTableType(file.hiveTableType)"
								ng-disabled="disabled">
								<option selected="selected" value="">Please Select</option>
								<option ng-repeat="src in hiveTableType">{{src.value}}</option>
							</select>
							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.hivetabletype.$error.required">This
									is required. </span>
							</div>
						</div>

						<div class="col-md-3">
							<label
								ng-class="hivepartionkeydisabled ? 'disabledlabel' :'labelSubHeader'">HIVE
								PARTITION KEY</label> <input type="text" id="hivepartionkey"
								ng-class="hivepartionkeydisabled ? 'disabledTextBox' :'customTextBox'"
								ng-disabled="hivepartionkeydisabled" name="hivepartionkey"
								ng-model="file.targetPartitionKey" placeholder="Please Enter"
								ng-required="hivepartionkeyrequired">

							<div ng-show="showValidationErrors">
								<div style="line-height: 3px">&nbsp;</div>
								<span class="errmsg"
									ng-show="fileForm.hivepartionkey.$error.required">This
									is required. </span>
							</div>

						</div>
					</div>

				</div>
				<!-- sourceSystem div ends -->
				<div class="row" style="padding-left: 68.3%;">
					<button type="button" class="btn targetButton"
						ng-click="onCancelFile();">Cancel</button>
					<span style="padding-right: 2%;"></span>
					<button type="button" class="btn btn-primary myButton"
						ng-click="createFileCodeGenRequest(file);">Create New
						Request</button>
				</div>

			</form>
		</div>
	</div>
</div>
