<div class="modal-header" ng-controller="utilityCtrl">
<h3 class="modal-title"></h3>
</div>
<div class="modal-body">
Your Job request has been submitted successfully.
Do you want to check the Job status?
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button"
ng-click="close()">Yes</button>
<button class="btn btn-warning" type="button"
ng-click="close()">No</button>
</div>


<!--
<div class="modal-header">
<h3 class="modal-title"></h3>
</div>
<div class="modal-body">
Your Job request could not be submitted 
due to a technical error!
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button"
ng-click="close()">Ok</button>

</div>-->